.barlie__title{
  position: relative;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 33px;
  color: #19202C;
  margin: 10px 0 34px 80px;


  &::before{
    position: absolute;
    top: -10px;
    left: -70px;
    content: "";
    width: 50px;
    height: 55px;
    background-image: url("../img/dolli.png");
    background-repeat: no-repeat;
    background-position: center center;
  }
}
.barlie-list{
 padding: 0;
 padding-left: 10px;
 margin: 0;
 list-style-type: none;
 display: flex;
 align-items: center;
 overflow: hidden;
}
.barlie-item{
position: relative;

&:not(:first-child){
  margin-left: 40px;
}
}
.barlie-item-img{
display: block;
max-width: 255px;
}
.barlie-item-span{
  background: #000000;
  opacity: 0.3;
  border-radius: 12px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  padding: 3px 9px;
  position: absolute;
  bottom: 68px;
  right: 10px;
}
.barlie__item-title{
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #19202C;
  margin-top: 10px;
  margin-bottom: 4px;
}
.barlie__span{
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  text-align: right;
  color: #C2C2C2;
}
.barlie__span-day{
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  text-align: right;
  color: #C2C2C2;
  margin-left: 10px;
  display: inline-block;
  vertical-align: baseline;
}
.barlie__span-name{
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  text-align: right;
  color: #C2C2C2;
  display: inline-block;
  vertical-align: baseline;
  margin-left: auto;
}
.barlie__span-wrapper{
  display: flex;
  justify-content: space-between;
}